# Environment: development

EAS_PROJECT_ID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
EXPO_PUBLIC_API_URL=https://api.remirage.com
EXPO_PUBLIC_ENV=dev
EXPO_PUBLIC_INTERCOM_ANDROID_API_KEY=android_sdk-xxxxxxxx
EXPO_PUBLIC_INTERCOM_APP_ID=xxxxx
EXPO_PUBLIC_INTERCOM_IOS_API_KEY=ios_sdk-xxxxxxxxx
EXPO_PUBLIC_DEMO_USERNAME=contact@remirage.com
EXPO_PUBLIC_DEMO_PASSWORD=P@ssw0rd

